@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.bg {
  background-image: url("https://media.giphy.com/media/LpGTkDbFtLQt5J6LGL/giphy.gif");
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-size: cover; */
  opacity: 1.9;
}
:root {
    --bg-color:#fcfcfc;
    --typewriterSpeed: 3s;
    --typewriterCharacters: 20;
  }
 
  #role {
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
 
  