.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  line-height: 35px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title {
  /* font-family: "Cairo"; */
  text-align: center;
  color: #fff;
  flex-direction: column;
  letter-spacing: 1px;
  line-height: 2;
}

#naam {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy-downsized-large.gif);
  /* background-size: cover; */
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  opacity: 0.9;
  margin: 10px 0;
}
